html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #525279;
}

.text {
    color: #faebd7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 1.6;
}